/* ==========================================================================
   Fonts - Web フォントの定義 (Poppins)
   ========================================================================== */

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Regular.woff2') format('woff2'),
       url('../../assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Medium.woff2') format('woff2'),
       url('../../assets/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Bold.woff2') format('woff2'),
       url('../../assets/fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* ==========================================================================
   Fonts - Web フォントの定義 (Zen Kaku Gothic New)
   ========================================================================== */

@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('../../assets/fonts/ZenKakuGothicNew-Regular.woff2') format('woff2'),
       url('../../assets/fonts/ZenKakuGothicNew-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('../../assets/fonts/ZenKakuGothicNew-Medium.woff2') format('woff2'),
       url('../../assets/fonts/ZenKakuGothicNew-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('../../assets/fonts/ZenKakuGothicNew-Bold.woff2') format('woff2'),
       url('../../assets/fonts/ZenKakuGothicNew-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
