/* ==========================================================================
   Fonts - Web フォントの定義 (Zen Old Mincho)
   ========================================================================== */

@font-face {
  font-family: 'Zen Old Mincho';
  src: url('../../assets/fonts/ZenOldMincho-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zen Old Mincho';
  src: url('../../assets/fonts/ZenOldMincho-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zen Old Mincho';
  src: url('../../assets/fonts/ZenOldMincho-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
