@use "../../foundations/variables" as *;
@use "../../foundations/mixins" as *;

// ==========================================================================
// Common Button Style 01 (.c-button01)
// ==========================================================================

.c-button01 {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-weight: $font-weight-regular;
    position: relative;
    overflow: hidden;
    transition: $transition;
    background: url(../../assets/images/common/bg-noise.png) repeat center / 50%;
    background-color: $color-black;
    @include border-vw(1, 1, solid, $color-black);
    @include font-vw(16, 16);
    @include width-vw(300, 300);
    @include height-vw(60, 60);

    @include sp-only {
    }

    // 左下の装飾三角形
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color-white;
      transition: $transition;
      clip-path: polygon(0 0, 100% 100%, 0 100%);
      @include width-vw(18, 18);
      @include height-vw(18, 18);

      @include sp-only {
      }
    }

    // 右側の矢印アイコン
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url(../../assets/images/common/arrow01-right-white.svg)
        no-repeat center / 100%;
      transition: $transition;
      @include width-vw(30, 30);
      @include height-vw(30, 30);
      @include right-vw(15, 15);

      @include sp-only {
      }
    }

    &:hover {
      color: $color-black;
      @include pc-only {
        opacity: 1;
        background-color: $color-white;
      }

      &::before {
        @include pc-only {
          background-color: $color-black;
        }
      }

      &::after {
        @include pc-only {
          background-image: url(../../assets/images/common/arrow01-right-black.svg);
          @include translateX-vw(6);
        }
      }
    }
  }

  &.--red {
    a {
      background: url(../../assets/images/common/bg-noise.png) repeat center /
        50%;
      border-color: $color-red;
      background-color: $color-red;
      color: $color-white;

      &::before {
        background-color: $color-white;
      }

      &::after {
        background-image: url(../../assets/images/common/arrow01-right-white.svg);
      }

      &:hover {
        @include pc-only {
                border-color: $color-black;
          color: $color-white;
          background-color: $color-black;
        }

        &::before {
          @include pc-only {
            background-color: $color-white;
          }
        }

        &::after {
          @include pc-only {
            background-image: url(../../assets/images/common/arrow01-right-white.svg);
          }
        }
      }
    }
  }
}

// ==========================================================================
// Floating Cart Button (.floating-button)
// ==========================================================================

.floating-button {
  position: fixed;
  right: 0;
  z-index: 3;
  @include bottom-vw(50, 50);

  @include sp-only {
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-weight: $font-weight-regular;
    position: relative;
    background: url(../../assets/images/common/bg-noise.png) repeat center / 50%;
    background-color: $color-red;
    overflow: hidden;
    letter-spacing: -0.15em;
    transition: $transition;
    writing-mode: vertical-rl; // 縦書き設定
    text-orientation: mixed;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    @include border-vw(1, 1, solid, $color-red);
    @include font-vw(16, 12);
    @include width-vw(60, 45);
    @include height-vw(200, 150);
    @include padding-bottom-vw(25, 25);

    @include sp-only {
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color-white;
      transition: $transition;
      clip-path: polygon(0 0, 100% 100%, 0 100%);
      @include width-vw(18, 18);
      @include height-vw(18, 18);

      @include sp-only {
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      background: url(../../assets/images/common/icon-cart-white.svg) no-repeat
        center / 100%;
      transition: $transition;
      @include bottom-vw(20, 15);
      @include width-vw(30, 25);
      @include height-vw(30, 25);

      @include sp-only {
      }
    }

    &:hover {
      color: $color-red;
      @include pc-only {
        opacity: 1;
        background-color: $color-white;
      }

      &::before {
        @include pc-only {
          background-color: $color-red;
        }
      }

      &::after {
        @include pc-only {
          background-image: url(../../assets/images/common/icon-cart-red.svg);
        }
      }
    }
  }
}

// ==========================================================================
// Button & Slider Cursor Layout (.l-button-and-cursol)
// ==========================================================================

.l-button-and-cursol {
  display: flex;
  align-items: center;
  position: absolute;
  @include right-vw(50, 10);
  @include top-vw(120, 50);

  @include sp-only {
    display: block;
  }

  &.--right {
    right: 0;
    @include top-vw(40, 40);

    @include sp-only {
    }
  }

  &__button {
    @include sp-only {
      text-align: right;
      @include margin-bottom-vw(0, 5);
    }

    a {
      position: relative;
      font-weight: $font-weight-medium;
      @include padding-right-vw(35, 35);
      @include font-vw(12, 12);

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url(../../assets/images/common/icon-beaf-black.svg)
          no-repeat center / 100%;
        @include width-vw(30, 24);
        @include height-vw(30, 24);

        @include sp-only {
        }
      }
    }
  }

  &__cursol {
    display: flex;
    position: relative;
    @include padding-left-vw(20, 20);
    @include margin-left-vw(20, 20);

    @include sp-only {
    }

    // 中央の仕切り線
    &::before {
      content: "";
      display: block;
      background-color: $color-black;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      @include width-vw(1, 1);
      @include height-vw(35, 35);

      @include sp-only {
        display: none;
      }
    }

    div {
      cursor: pointer;
      transition: $transition;
      @include width-vw(42, 42);

      @include sp-only {
      }

      &:nth-child(1) {
        @include margin-right-vw(10, 10);
        @include sp-only {
        }
      }

      &:nth-child(2) {
      }

      &:hover {
        @include pc-only {
          opacity: 0.7;
        }
      }
    }
  }
}
