@use "../../foundations/variables" as *;
@use "../../foundations/mixins" as *;

// ==========================================================================
// Common Button Style 01 (.c-button01)
// ==========================================================================

.c-button01 {
  :is(a, button) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-weight: $font-weight-regular;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    background: url(../../assets/images/common/bg-noise.png) repeat center / 50%;
    background-color: $color-black;
    transition: $transition;

    // buttonリセット
    border: none;
    appearance: none;

    @include border-vw(1, 1, solid, $color-black);
    @include font-vw(16, 16);
    @include width-vw(300, 300);
    @include height-vw(60, 60);

    // 左下三角
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color-white;
      clip-path: polygon(0 0, 100% 100%, 0 100%);
      transition: $transition;
      @include width-vw(18, 18);
      @include height-vw(18, 18);
    }

    // 右矢印
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url(../../assets/images/common/arrow01-right-white.svg)
        no-repeat center / 100%;
      transition: $transition;
      @include width-vw(30, 30);
      @include height-vw(30, 30);
      @include right-vw(15, 15);
    }

    &:hover {
      color: $color-black;
      opacity: 1;

      @include pc-only {
        background-color: $color-white;
      }

      &::before {
        @include pc-only {
          background-color: $color-black;
        }
      }

      &::after {
        @include pc-only {
          background-image: url(../../assets/images/common/arrow01-right-black.svg);
          @include translateX-vw(6);
        }
      }
    }
  }

  &.--w100 {
    :is(a, button) {
      width: 100%;
    }
  }

  &.--red {
    :is(a, button) {
      background-color: $color-red;
      border-color: $color-red;
      color: $color-white;

      &:hover {
        @include pc-only {
          background-color: $color-black;
          border-color: $color-black;
        }

        &::before {
          @include pc-only {
            background-color: $color-white;
          }
        }

        &::after {
          @include pc-only {
            background-image: url(../../assets/images/common/arrow01-right-white.svg);
          }
        }
      }
    }
  }

  &.--cart :is(a, button) {
    @include height-vw(76, 64);
        @include font-vw(18, 18);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url(../../assets/images/common/icon-cart-white.svg) no-repeat
        center / 100%;
      transition: $transition;
      @include width-vw(40, 30);
      @include height-vw(40, 30);
      @include right-vw(20, 20);
    }
    &:hover {
      &::after {
        @include pc-only {
          transform: translateX(0);
           background: url(../../assets/images/common/icon-cart-white.svg) no-repeat
        center / 100%;
        }
      }
    }
  }
}

// ==========================================================================
// Floating Cart Button (.floating-button)
// ==========================================================================

.floating-button {
  position: fixed;
  right: 0;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: $transition;

  &.is-active {
    opacity: 1;
  }

  @include bottom-vw(50, 50);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-weight: $font-weight-regular;
    position: relative;
    background: url(../../assets/images/common/bg-noise.png) repeat center / 50%;
    background-color: $color-red;
    overflow: hidden;
    letter-spacing: -0.15em;
    transition: $transition;
    writing-mode: vertical-rl; // 縦書き設定
    text-orientation: mixed;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    @include border-vw(1, 1, solid, $color-red);
    @include font-vw(16, 12);
    @include width-vw(60, 45);
    @include height-vw(200, 150);
    @include padding-bottom-vw(25, 25);

    @include sp-only {
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color-white;
      transition: $transition;
      clip-path: polygon(0 0, 100% 100%, 0 100%);
      @include width-vw(18, 18);
      @include height-vw(18, 18);

      @include sp-only {
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      background: url(../../assets/images/common/icon-cart-white.svg) no-repeat
        center / 100%;
      transition: $transition;
      @include bottom-vw(20, 15);
      @include width-vw(30, 25);
      @include height-vw(30, 25);

      @include sp-only {
      }
    }

    &:hover {
      color: $color-red;
      @include pc-only {
        opacity: 1;
        background-color: $color-white;
      }

      &::before {
        @include pc-only {
          background-color: $color-red;
        }
      }

      &::after {
        @include pc-only {
          background-image: url(../../assets/images/common/icon-cart-red.svg);
        }
      }
    }
  }
}

// ==========================================================================
// Button & Slider Cursor Layout (.l-button-and-cursol)
// ==========================================================================

.l-button-and-cursol {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;

  &.--postion01 {
    @include top-vw(150, 50);
    @include right-vw(80, 20);
  }

  &.--postion02 {
    @include top-vw(150, 92);
    @include right-vw(156, 20);
  }

  @include sp-only {
    display: block;
  }

  &.--right {
    right: 0;
    @include top-vw(40, 40);

    @include sp-only {
    }
  }

  &__button {
    @include sp-only {
      text-align: right;
      @include margin-bottom-vw(0, 5);
    }

    a {
      position: relative;
      font-weight: $font-weight-medium;
      @include padding-right-vw(35, 35);
      @include font-vw(12, 12);

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url(../../assets/images/common/icon-beaf-black.svg)
          no-repeat center / 100%;
        @include width-vw(30, 24);
        @include height-vw(30, 24);

        @include sp-only {
        }
      }
    }
  }

  &__cursol {
    display: flex;
    position: relative;
    @include padding-left-vw(20, 20);
    @include margin-left-vw(20, 20);

    @include sp-only {
    }

    // 中央の仕切り線
    &::before {
      content: "";
      display: block;
      background-color: $color-black;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      @include width-vw(1, 1);
      @include height-vw(35, 35);

      @include sp-only {
        display: none;
      }
    }

    div {
      cursor: pointer;
      transition: $transition;
      @include width-vw(42, 42);

      @include sp-only {
      }

      &:nth-child(1) {
        @include margin-right-vw(10, 10);
        @include sp-only {
        }
      }

      &:nth-child(2) {
      }

      &:hover {
        @include pc-only {
          opacity: 0.7;
        }
      }
    }
  }

  &.--white {
    .l-button-and-cursol__button a {
      color: $color-white;
      &::after {
        background-image: url(../../assets/images/common/icon-beaf-white.svg);
      }
    }
    .l-button-and-cursol__cursol::before {
      background-color: $color-white;
    }
  }
}

.quantity-selector {
  background-color: $color-black-alpha-5;
  position: relative;
  @include height-vw(60, 60);
  @include margin-bottom-vw(30, 30);
  select {
    width: 100%;
    height: 100%;
    text-align: right;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    @include padding-right-vw(50, 50);
    @include font-vw(16, 16);
  }
  &__text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    @include padding-top-vw(17, 17);
    @include padding-left-vw(20, 20);
    @include font-vw(16, 16);
    &::after {
      content: "";
      display: block;
      background: url(../../assets/images/common/arrow03-bottom-black.svg)
        no-repeat center / 100% 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      @include right-vw(10, 10);
      @include width-vw(30, 30);
      @include height-vw(30, 30);
    }
  }
}

.quantity-selector,
.quantity-selector select,
.quantity-selector label {
  cursor: pointer;
}