@use "../../foundations/variables" as *;
@use "../../foundations/mixins" as *;

// ==========================================================================
// Common Title 01 (Center Aligned with EN/JP)
// ==========================================================================
.c-title01 {
  color: $color-black;
  text-align: center;
  @include margin-bottom-vw(40, 20);

  @include sp-only {
    text-align: left;
  }

  .en {
    display: block;
    font-weight: $font-weight-regular;
    letter-spacing: $letter-spacing-1;
    @include font-vw(14, 14);

    @include sp-only {
    }
  }

  .jp {
    display: block;
    font-weight: $font-weight-regular;
    line-height: 1.6;
    @include font-vw(34, 30);

    @include sp-only {
    }
  }

  &.--white {
    color: $color-white;
  }

  &.--lg {
    @include font-vw(40, 30);
    @include margin-bottom-vw(50, 30);
  }
}

// ==========================================================================
// Common Title 02 (Inline Block with Border Bottom & Insta variation)
// ==========================================================================
.c-title02 {
  display: inline-block;
  @include margin-bottom-vw(50, 30);

  @include sp-only {
  }

  .en {
    display: block;
    font-weight: $font-weight-regular;
    line-height: 1;
    letter-spacing: $letter-spacing-1;
    @include font-vw(14, 14);
    @include margin-bottom-vw(5, 5);

    @include sp-only {
    }
  }

  .jp {
    display: block;
    font-weight: $font-weight-regular;
    line-height: 1.4;
    @include padding-bottom-vw(5, 5);
    @include font-vw(34, 26);

    @include sp-only {
    }
  }

  .en-insta-01 {
    display: block;
    font-weight: $font-weight-regular;
    line-height: 1;
    letter-spacing: $letter-spacing-1;
    @include font-vw(36, 26);
    @include margin-bottom-vw(8, 8);
    @include padding-left-vw(10, 10);

    @include sp-only {
    }
  }

  .en-insta-02 {
    display: block;
    font-weight: $font-weight-regular;
    line-height: 1;
    letter-spacing: $letter-spacing-1;
    @include font-vw(14, 14);
    @include padding-bottom-vw(10, 10);
    @include padding-left-vw(10, 10);
    @include padding-right-vw(10, 10);

    @include sp-only {
    }
  }

  &.--white {
    color: $color-white;
  }

  &.--initial {
    .jp {
      line-height: 1;
      span:first-child {
        @include font-vw(66, 40);
      }
    }
  }
}

// ==========================================================================
// Common Title 03 (Simple Inline Block with Border Bottom)
// ==========================================================================
.c-title03 {
  display: inline-block;
  font-weight: $font-weight-regular;
  line-height: 1.6;
  @include padding-left-vw(10, 10);
  @include padding-right-vw(10, 10);
  @include font-vw(20, 20);
  @include border-bottom-vw(1, 1, solid, $color-black);
  @include margin-bottom-vw(40, 20);

  @include sp-only {
  }

  &.--lg {
      @include font-vw(26, 22);
  }
}

// ==========================================================================
// Common Title 04 (Center Aligned with Decorative Sub-lines)
// ==========================================================================
.c-title04 {
  color: $color-black;
  text-align: center;
  @include margin-bottom-vw(40, 20);

  @include sp-only {
    text-align: left;
  }

  .en {
    display: block;
    font-weight: $font-weight-regular;
    letter-spacing: $letter-spacing-1;
    @include font-vw(14, 14);
    @include margin-bottom-vw(10, 0);

    @include sp-only {
    }
  }

  .jp {
    display: block;
    font-weight: $font-weight-regular;
    line-height: 1.6;
    @include font-vw(40, 30);

    @include sp-only {
    }
  }

  .sub {
    font-weight: $font-weight-regular;
    position: relative;
    display: inline-block;
    @include font-vw(18, 14);
    @include padding-left-vw(15, 0);
    @include padding-right-vw(15, 15);

    @include sp-only {
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 100%;
      bottom: 0;
      background-color: $color-white;
      @include top-vw(17, 17);
      @include height-vw(1, 1);
      @include width-vw(115, 115);

      @include sp-only {
        display: none;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 100%;
      bottom: 0;
      background-color: $color-white;
      @include top-vw(17, 13);
      @include height-vw(1, 1);
      @include width-vw(115, 50);

      @include sp-only {
      }
    }
  }

  &.--white {
    color: $color-white;
  }
}

// ==========================================================================
// Common Description 01 (Base Text Style)
// ==========================================================================
.c-description01 {
  color: $color-black;
  line-height: 2.5;
  @include font-vw(16, 14);

  @include sp-only {
    text-align: left;
  }

  span {
    font-weight: $font-weight-regular;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.03em;
    @include font-vw(26, 18);

    @include sp-only {
    }
  }

  &.--white {
    color: $color-white;
  }
}

.c-title-vertical {
  writing-mode: vertical-rl;
  margin-left: auto;
  margin-right: auto;
  @include padding-top-vw(15, 10);
  @include padding-bottom-vw(15, 10);
  @include border-left-vw(1, 1, solid, $color-black);
  @include font-vw(14, 12);
}
