@use '../../foundations/variables'as *;
@use '../../foundations/mixins'as *;

.c-section-title {
    font-weight: $font-weight-bold;
    @include gradient-text;

    &__en {
        display: block;
        line-height: 1.1;
        @include font-vw(60, 40);
                @include margin-bottom-vw(0,5);
        @include sp-only {

        }
    }

    &__ja {
        display: block;
        @include font-vw(16, 14);
                @include sp-only {
            
        }
    }
}