@use '../../foundations/variables'as *;
@use '../../foundations/mixins'as *;

.u-fadeIn {
  opacity: 0;
  transition: opacity .6s cubic-bezier(0.39, 0.575, 0.565, 1) .4s;

  &.is-show {
    opacity: 1;
  }
}

.u-fadeOut {
  opacity: 1;
  transition: opacity .6s cubic-bezier(0.39, 0.575, 0.565, 1) .4s;

  &.is-hide {
      opacity: 0;
  }
}