@use "../../foundations/variables" as *;
@use "../../foundations/mixins" as *;

/* ==========================================================================
   Utility - Background
   ========================================================================== */

/* 背景色 */
.u-bg-white {
  background-color: $color-white;
}

.u-bg-gray {
  background-color: $color-gray;
}

/* 背景パターン */
.u-bg-pattern {
  background-image: url("../../assets/images/common/bg-noise.png");
  background-repeat: repeat;
  background-position: center;
  background-size: 5%;
}
