@use "../foundations/variables" as *;
@use "../foundations/mixins" as *;

// ==========================================================================
// FAQ 
// ==========================================================================

.l-faq {
  &__item {
    position: relative;
    cursor: pointer;
    transition: $transition;
    @include padding-vw(25, 60, 25, 50, 25, 50, 15, 20);
    @include border-bottom-vw(1, 1, solid, $color-black-alpha-25);
    @include sp-only {
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      background: url(../../assets/images/common/arrow03-bottom-black.svg)
        no-repeat center / cover;
      transition: $transition;
      @include width-vw(30, 30);
      @include height-vw(30, 30);
      @include right-vw(20, 10);
      @include top-vw(50, 40);
      @include sp-only {
      }
    }

    &.is-active {
      &::after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      @include pc-only {
        opacity: 0.7;
      }
    }
  }

  &__q {
    display: flex;
    @include sp-only {
    }
  }

  &__a {
    display: flex;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: $transition;
    @include padding-top-vw(15, 15);
    @include sp-only {
    }
  }

  &__inicial {
    @include font-vw(32, 28);
    @include margin-right-vw(40, 20);
    @include sp-only {
    }
  }

  &__text {
    line-height: 2;
    @include font-vw(16, 16);
    @include padding-top-vw(18, 14);
    @include sp-only {
    }
  }
}