@use "../foundations/variables" as *;
@use "../foundations/mixins" as *;

// ==========================================================================
// Footer
// ==========================================================================

.l-footer {
  @include padding-top-vw(60, 30);
  @include padding-bottom-vw(60, 30);
  background-color: $color-black;
  @include sp-only {
    @include padding-left-vw(0, 20);
    @include padding-right-vw(0, 20);
  }

  &__logo {
    margin-left: auto;
    margin-right: auto;
     @include width-vw(120,120);
    @include margin-bottom-vw(50, 30);
    @include sp-only {
    }
    a {
      display: block;
      @include sp-only {
      }
    }
  }

  &__nav {
  }

  &__nav-top {
    display: flex;
    @include padding-left-vw(20, 10);
    @include sp-only {
      flex-wrap: wrap;
      @include padding-right-vw(0, 10);
    }
  }

  &__nav-top-item {
    @include sp-only {
      width: 50%;
    }
    a {
      color: $color-white;
      display: block;
      @include font-vw(13, 13);
      @include sp-only {
        line-height: 1.4;
      }
    }
    + .l-footer__nav-top-item {
      @include margin-left-vw(40, 0);
      @include sp-only {
      }
    }
    &:nth-child(n + 3) {
      @include sp-only {
        @include margin-top-vw(0, 10);
      }
    }
  }

  &__nav-border {
    background-color: $color-white;
    @include margin-top-vw(25, 25);
    @include margin-bottom-vw(25, 25);
    @include height-vw(1, 1);
    @include sp-only {
    }
  }

  &__nav-bottom {
    position: relative;
    display: flex;
    @include padding-left-vw(20, 10);
    @include sp-only {
      flex-wrap: wrap;
      @include padding-right-vw(0, 10);
    }
  }

  &__nav-bottom-item {
    @include sp-only {
      width: 50%;
    }
    a {
      color: $color-white;
      @include font-vw(13, 13);
      @include sp-only {
        line-height: 1.4;
      }
    }
    + .l-footer__nav-bottom-item {
      @include margin-left-vw(40, 0);
      @include sp-only {
      }
    }
    &:nth-child(n + 3) {
      @include sp-only {
        @include margin-top-vw(0, 10);
      }
    }
  }

  &__nav-instagram {
    position: absolute;
    @include right-vw(20);
    @include top-vw(2);
    @include sp-only {
      position: static;
      @include margin-top-vw(0, 12);
    }
    a {
      display: block;
    }
  }
}