@use "../foundations/variables" as *;
@use "../foundations/mixins" as *;

// ==========================================================================
// Layout Header (.l-header)
// ==========================================================================

.l-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include padding-left-vw(40);
  @include padding-right-vw(40);
  @include top-vw(35, 20);

  @include sp-only {
  }

  .l-inner {
    display: flex;
    justify-content: space-between;

    @include sp-only {
    }
  }

  // ロゴエリア
  &__logo {
    position: relative;
    z-index: 3;

    @include sp-only {
      display: flex;
      align-items: center;
      @include margin-left-vw(0, 20);
    }

    a {
      display: block;
      @include width-vw(178, 178);
    }
  }

  // メインナビゲーション（アイコンリスト）
  &__main-list {
    position: relative;
    display: flex;
    z-index: 3;

    @include sp-only {
      @include margin-right-vw(0, 20);
    }
  }

  &__main-item {
    transition: $transition;
    cursor: pointer;
    @include width-vw(50, 50);
    @include height-vw(50, 50);

    @include sp-only {
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      @include sp-only {
      }

      img {
        @include width-vw(30, 30);
        @include sp-only {
        }
      }
    }

    + .l-header__main-item {
      // @include margin-left-vw(15, 10);
      @include sp-only {
      }
    }

    &:hover {
      @include pc-only {
        opacity: 0.7;
      }
    }
  }

  &__main-child {
    &:hover {
      @include pc-only {
        opacity: 1;
      }
    }
  }

  // ハンバーガーボタン外側
  &__menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sp-only {
    }
  }

  // ハンバーガーボタン内側（3本線）
  &__menu-inner {
    position: relative;
    @include width-vw(25, 25);
    @include height-vw(15, 15);

    @include sp-only {
    }

    div {
      background-color: $color-white;
      position: absolute;
      width: 100%;
      transition: $transition;
      @include height-vw(1, 1);

      @include sp-only {
      }

      &:nth-child(1) {
        top: 0;
        @include sp-only {
        }
      }

      &:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &:nth-child(3) {
        bottom: 0;
        @include sp-only {
        }
      }
    }
  }

  // 全画面展開メニュー
  &__open-menu {
    transition: $transition;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include sp-only {
      @include padding-left-vw(0, 20);
      @include padding-right-vw(0, 20);
    }
  }

  &__open-menu-list {
    display: flex;
    justify-content: center;

    @include sp-only {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &.--sm {
      scale: (0.9);
      @include sp-only {
        @include margin-left-vw(0, -18);
      }

      .l-header__open-menu-item:nth-child(2n) {
        @include padding-left-vw(0, 12);
      }
    }

    &:first-child {
      @include margin-bottom-vw(50, 20);
    }
  }

  &__open-menu-item {
    @include sp-only {
      width: 50%;
      @include margin-bottom-vw(0, 20);
    }

    a {
      color: $color-black;
      line-height: 1;
      display: inline-block;
      position: relative;

      @include sp-only {
      }

      .en {
        display: block;
        letter-spacing: $letter-spacing-1;
        font-weight: $font-weight-medium;
        @include margin-bottom-vw(10, 5);
        @include font-vw(10, 10);

        @include sp-only {
        }
      }

      .jp {
        display: block;
        font-weight: $font-weight-medium;
        @include font-vw(18, 18);

        @include sp-only {
          line-height: 1.4;
        }
      }

      // ホバー時の下線アニメーション
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: left;
        transition: $transition;
        @include bottom-vw(-5, -5);
        @include height-vw(1, 1);

        @include sp-only {
        }
      }

      &:hover {
        opacity: 1;
        &::after {
          @include pc-only {
            transform: scaleX(1);
          }
        }
      }
    }

    + .l-header__open-menu-item {
      @include margin-left-vw(50, 0);

      @include sp-only {
      }
    }

    &:nth-child(3n) {
      @include sp-only {
        margin-left: 0;
      }
    }
  }

  &__open-menu-border {
  }

  // アクティブ状態（メニュー展開時）
  &.is-active {
    .l-header__menu-inner {
      div {
        &:nth-child(1) {
          transform: rotate(45deg);
          @include top-vw(8, 8);
          @include sp-only {
          }
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          @include bottom-vw(6, 6);
          @include sp-only {
          }
        }
      }
    }
    .l-header__open-menu {
      opacity: 1;
      pointer-events: all;
    }
  }
}

// 全画面オーバーレイ
.overlay {
  transition: $transition;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $color-white;
  opacity: 0;
  pointer-events: none;

  &.is-active {
    opacity: 1;
  }
}