@use "../foundations/variables" as *;
@use "../foundations/mixins" as *;

// ==========================================================================
// Numeric Info List (.l-num)
// ==========================================================================

.l-num {
  position: relative;
  @include sp-only {
  }

  &__item {
    display: flex;
    @include sp-only {
      display: block;
    }

    &:nth-child(even) {
      justify-content: flex-end;
      @include sp-only {
      }
    }

    + .l-num__item {
      @include margin-top-vw(70, 50);
      @include sp-only {
      }
    }
  }

  &__image {
    position: relative;
    @include width-vw(630);
    @include sp-only {
      width: 100%;
      @include margin-bottom-vw(0,10);
    }

    // &::after {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 1;
    //   background-color: $color-white;
    //   @include border-radius-vw(16, 16);
    //   @include bottom-vw(-10, -10);
    //   @include right-vw(-10, -10);
    //   @include border-vw(1, 1, solid, $color-black);
    //   @include sp-only {
    //   }
    // }

    // img {
    //   overflow: hidden;
    //   position: relative;
    //   z-index: 2;
    //   @include border-vw(1, 1, solid, $color-black);
    //   @include border-radius-vw(16, 16);
    //   @include sp-only {
    //   }
    // }

    // &.--left {
    //   img {
    //     border-top-left-radius: 0;
    //     border-bottom-left-radius: 0;
    //     @include sp-only {
    //       @include left-vw(0, -21);
    //     }
    //   }
    //   &::after {
    //     border-top-left-radius: 0;
    //     border-bottom-left-radius: 0;
    //     @include sp-only {
    //       @include left-vw(0, -30);
    //     }
    //   }
    // }

    &.--right {
      order: 2;
      // img {
      //   border-top-right-radius: 0;
      //   border-bottom-right-radius: 0;
      //   @include sp-only {
      //     @include right-vw(0, -21);
      //   }
      // }
      // &::after {
      //   border-top-right-radius: 0;
      //   border-bottom-right-radius: 0;
      //   @include sp-only {
      //     @include right-vw(0, -30);
      //   }
      // }
    }
  }

  &__texts {
    @include width-vw(630);
    // @include margin-top-vw(20, 20);
    @include sp-only {
      width: 100%;
    }
    &.--left {
      @include margin-left-vw(55, 0);
      @include sp-only {
      }
    }
    &.--right {
      @include margin-right-vw(55, 0);
      @include sp-only {
      }
    }
  }

  &__text01 {
    display: flex;
    font-weight: $font-weight-regular;
    @include margin-bottom-vw(10, 10);
    @include sp-only {
    }

    .num {
      position: relative;
      font-weight: $font-weight-regular;
      @include font-vw(36, 30);
      @include margin-right-vw(15, 15);
      @include padding-right-vw(15, 15);
      @include sp-only {
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        background-color: $color-black;
        @include top-vw(14, 10);
        @include width-vw(1, 1);
        @include height-vw(35, 35);
        @include sp-only {
        }
      }
    }

    .title {
      font-weight: $font-weight-regular;
      @include font-vw(28, 22);
      @include padding-top-vw(8, 8);
      @include sp-only {
      }
      span {
         @include font-vw(20, 14);
      }
    }
  }

  &__text02 {
    letter-spacing: $letter-spacing-1;
    line-height: 2.5;
    font-weight: $font-weight-regular;
    @include margin-bottom-vw(30, 15);
    @include font-vw(14, 14);
    @include sp-only {
      letter-spacing: 0;
    }
  }

  &__text03 {
    // letter-spacing: $letter-spacing-1;
    // font-weight: $font-weight-medium;
    // color: $color-white;
    // background-color: $color-black;
    // display: inline-block;
    // @include border-vw(1, 1, solid, $color-white);
    // @include border-radius-vw(3, 3);
    // @include padding-vw(3, 5, 1, 10, 10, 10, 6, 10);
    // @include font-vw(13, 12);
    @include height-vw(28, 28);
    @include sp-only {
      // line-height: 1.6;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  &.--white {
    color: $color-white;
    .l-num__texts .num::after {
      background-color: $color-white;
    }
  }
}
