@use "../foundations/variables" as *;
@use "../foundations/mixins" as *;

// ==========================================================================
// Main Visual (.p-home-mv)
// ==========================================================================
.p-home-mv {
  display: flex;
  justify-content: space-between;
  @include height-vw(700, 700);
  &__left {
    width: 33.33333%;
    background: url(../../assets/images/home/mv-left-image.png) center / cover;
  }
  &__center {
    width: 33.33333%;
  }
  &__center-image {
    margin-left: auto;
    margin-right: auto;
    @include width-vw(305, 305);
    @include margin-top-vw(50, 50);
    @include margin-bottom-vw(20, 20);
  }
  &__center-text01 {
    text-align: center;
    color: $color-black;
    font-weight: $font-weight-medium;
    line-height: 2.2;
    @include margin-bottom-vw(20, 20);
    @include font-vw(14, 14);
    span {
      @include font-vw(22);
    }
  }
  &__center-text02 {
    margin-left: auto;
    margin-right: auto;
    @include margin-bottom-vw(45, 45);
    @include width-vw(400, 400);
  }
  &__right {
    width: 33.33333%;
    background: url(../../assets/images/home/mv-right-image.png) center / cover;
  }
}

// ==========================================================================
// About Us Section
// ==========================================================================

.p-home-aboutus {
  background: url(../../assets/images/home/about-us-bg.png) no-repeat center /
    cover;
  @include padding-top-vw(120, 60);
  @include padding-bottom-vw(120, 60);
  @include sp-only {
    @include padding-left-vw(0, 20);
    @include padding-right-vw(0, 20);
  }

  .c-description01 {
    @include margin-bottom-vw(50, 30);
    @include sp-only {
      text-align: left;
    }
  }
}

// ==========================================================================
// Ranking Section
// ==========================================================================

.p-home-ranking {
  @include padding-top-vw(120, 60);
  @include padding-bottom-vw(120, 60);
  @include sp-only {
    @include padding-left-vw(0, 20);
    @include padding-right-vw(0, 20);
  }
}

// ==========================================================================
// Sliders Layout
// ==========================================================================

.l-products-slider {
  @include sp-only {
    @include margin-left-vw(0, -20);
    @include margin-right-vw(0, -20);
  }
}

.l-instagram-slider {
  @include sp-only {
    @include margin-left-vw(0, -20);
    @include margin-right-vw(0, -20);
  }
}

// ==========================================================================
// Swiper Custom
// ==========================================================================

.swiper {
  @include padding-bottom-vw(10, 10);
  @include sp-only {
  }
}

.js-swiper {
  position: relative;
  overflow: hidden;
}

/* 全スライド共通（基準） */
.js-swiper.center-active .swiper-slide {
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  transform: scale(0.95);
  opacity: 0.7;
}

/* 真ん中（アクティブ）だけ少し大きく */
.js-swiper.center-active .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}

/* 背景グラデーション（コメントアウト部分も保持） */
// .js-swiper::before,
// .js-swiper::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   height: 100%;
//   z-index: 2;
//   pointer-events: none;
//   @include width-vw(40,40);
// }

// .js-swiper::before {
//   left: 0;
//   background: linear-gradient(to right, $color-gray 0%, rgba(255, 255, 255, 0) 100%);
// }

// .js-swiper::after {
//   right: 0;
//   background: linear-gradient(to left, $color-gray 0%, rgba(255, 255, 255, 0) 100%);
// }

// ==========================================================================
// Products Section
// ==========================================================================

.p-home-products {
  @include padding-top-vw(120, 60);
  @include padding-bottom-vw(120, 60);
  @include sp-only {
    @include padding-left-vw(0, 20);
    @include padding-right-vw(0, 20);
  }

  &__block {
    + .p-home-products__block {
      @include margin-top-vw(60, 50);
      @include sp-only {
      }
    }
  }

  .c-button01 {
    @include margin-top-vw(40, 30);
    @include sp-only {
    }
  }

  .l-products-list {
    @include sp-only {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item {
      @include sp-only {
        width: 90%;
      }
      + .l-products-list__item {
        @include sp-only {
          @include margin-top-vw(0, 30);
        }
      }
    }
  }
}

// ==========================================================================
// Gift Section
// ==========================================================================

.p-home-gift {
  background: url(../../assets/images/home/gift-bg.png) no-repeat center /
    cover;
  @include padding-top-vw(120, 60);
  @include padding-bottom-vw(120, 60);
  @include sp-only {
    @include padding-left-vw(0, 20);
    @include padding-right-vw(0, 20);
    overflow: hidden;
  }

  .c-description01 {
    @include margin-bottom-vw(60, 40);
    @include sp-only {
      text-align: left;
    }
  }

  .c-button01 {
    @include margin-top-vw(65, 40);
    @include sp-only {
    }
  }
}

// ==========================================================================
// FAQ Section
// ==========================================================================

.p-home-faq {
  @include padding-top-vw(120, 60);
  @include padding-bottom-vw(120, 60);
  @include sp-only {
    @include padding-left-vw(0, 20);
    @include padding-right-vw(0, 20);
  }
  .l-inner {
  }
}

// ==========================================================================
// Instagram Section
// ==========================================================================

.p-home-instagram {
  @include padding-top-vw(120, 60);
  @include padding-bottom-vw(120, 60);
  @include sp-only {
    @include padding-left-vw(0, 20);
    @include padding-right-vw(0, 20);
  }
}
