@use "../foundations/variables" as *;
@use "../foundations/mixins" as *;

// ==========================================================================
// Products
// ==========================================================================
.p-products {
  &__main {
    @include padding-top-vw(80, 40);
    @include sp-only {
    }
    .l-inner {
      display: flex;
      @include sp-only {
        display: block;
      }
    }
  }

  &__main-image-block {
    width: 50%;
    @include sp-only {
      width: 100%;
    }
  }
  &__main-image {
    @include width-vw(600, 600);
    @include height-vw(600, 300);
    @include margin-bottom-vw(20, 10);
    @include sp-only {
      width: 100%;
    }
    img {
      @include sp-only {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &__main-image-list {
    display: flex;
    justify-content: space-between;
    @include sp-only {
    }
  }
  &__main-image-item {
    @include width-vw(134, 134);
    @include sp-only {
      width: 25%;
    }
    img {
      @include sp-only {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &__main-text-block {
    width: 50%;
    @include padding-left-vw(50, 20);
    @include padding-top-vw(20, 20);
    @include sp-only {
      width: 100%;
         @include padding-right-vw(0, 20);
    }
  }
  &__main-title {
    @include font-vw(30, 26);
    @include sp-only {
    }
  }
  &__main-price {
    @include font-vw(24, 24);
    @include margin-bottom-vw(30, 30);
    @include sp-only {
    }
    span {
      @include font-vw(14, 14);
      @include sp-only {
      }
    }
  }
  &__main-description {
    line-height: 2.2;
    @include font-vw(16, 14);
    @include margin-bottom-vw(30, 30);
    @include sp-only {
    }
  }
  &__main-text-list {
    @include margin-bottom-vw(30, 30);
    @include sp-only {
    }
    li {
      @include padding-top-vw(15, 15);
      @include padding-bottom-vw(15, 15);
      @include border-bottom-vw(1, 1, solid, $color-black-alpha-25);
      @include sp-only {
      }
    }
  }
  &__main-text01 {
    font-weight: $font-weight-medium;
    @include font-vw(16, 14);
    @include sp-only {
    }
  }
  &__main-text02 {
    @include font-vw(16, 14);
    @include sp-only {
    }
  }

  &__ranking {
    @include padding-top-vw(100, 60);
    @include padding-bottom-vw(120, 60);
    @include sp-only {
    }
    .l-products-list {
      @include margin-bottom-vw(40, 30);
      @include sp-only {
      }
    }
  }
}
