@use "../foundations/variables" as *;
@use "../foundations/mixins" as *;

.p-subpage {
  &__intro {
    @include padding-top-vw(60, 40);
    @include padding-bottom-vw(120, 60);
    .c-title01 {
      @include margin-top-vw(30, 20);
      @include margin-bottom-vw(50, 20);
      @include sp-only {
        display: flex;
        justify-content: center;
      }
    }
  }
  &__intro-image {
    @include margin-bottom-vw(100, 40);
    @include sp-only {
    }
  }

  &__intro-catch {
    text-align: center;
    @include font-vw(26, 16);
    @include margin-bottom-vw(25, 15);
    @include sp-only {
    }
    span {
      font-weight: $font-weight-medium;
      @include font-vw(36, 24);
      @include sp-only {
      }
    }
  }

  &__intro-description {
    text-align: center;
    line-height: 2.5;
    @include font-vw(16, 14);
    @include margin-bottom-vw(100, 50);
    @include sp-only {
    }
    span {
        @include font-vw(22, 18);
    }
  }

  &__intro-list {
    @include sp-only {
      @include padding-left-vw(0, 20);
      @include padding-right-vw(0, 20);
    }
  }

  &__intro-item {
    display: flex;
    justify-content: space-between;
    @include sp-only {
      flex-wrap: wrap;
    }
    &:nth-child(odd) {
      .p-subpage__intro-item-image {
        @include padding-left-vw(30, 0);
        @include sp-only {
        }
      }
    }
    &:nth-child(even) {
      .p-subpage__intro-item-image {
        order: 1;
        @include padding-right-vw(30, 0);
        @include sp-only {
        }
      }
      .p-subpage__intro-item-texts {
        order: 2;
        @include padding-left-vw(50, 0);
        @include sp-only {
        }
      }
    }

    + .p-subpage__intro-item {
      @include margin-top-vw(100, 50);
      @include sp-only {
      }
    }
  }

  &__intro-item-texts {
    width: 50%;
    @include margin-top-vw(10, 10);
    @include sp-only {
      width: 100%;
      order: 2;
    }
  }

  &__intro-item-title {
    font-weight: $font-weight-medium;
    @include margin-bottom-vw(20, 5);
    @include font-vw(34, 24);
    @include sp-only {
    }
  }

  &__intro-item-description {
    line-height: 2.5;
    @include font-vw(16, 14);
    @include sp-only {
    }
  }

  &__intro-item-image {
    width: 50%;
    @include sp-only {
      width: 100%;
      order: 1;
      overflow: hidden;
      @include height-vw(0, 180);
    }
    img {
      @include sp-only {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__strengths {
    background: url(../../assets/images/common/strength-bg.png) no-repeat
      center / cover;
    @include padding-top-vw(120, 60);
    @include padding-bottom-vw(120, 60);
    @include sp-only {
      @include padding-left-vw(0, 20);
      @include padding-right-vw(0, 20);
    }
    .c-title02 {
    }
  }

  &__comparision {
    @include padding-top-vw(120, 60);
    @include padding-bottom-vw(120, 60);
    @include sp-only {
        @include padding-left-vw(0, 20);
      @include padding-right-vw(0, 20);
    }
    .c-title01 {
      @include sp-only {
        text-align: center;
      }
    }
  }

  &__comparision-youtube {
    @include margin-top-vw(50, 30);
    @include sp-only {
    }
    iframe {
      width: 100%;
      @include height-vw(580, 180);
      @include sp-only {
      }
    }
  }
}
